<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ing_Soft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ing_Soft.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/manual.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" id="navbar">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Ing_Soft</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <!-- OJO, puse logout para probar, es index acá -->
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Logout">Home</a> 
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto list-unstyled">
                        <li class="nav-item">
                            <button type="button" class="btn nav-link logo" onclick="showLogin()" style="background: none; border: none;">
                                <img src="@Url.Content("~/Img/Logo_Starbucks.jpg")" alt="Vista admin" style="width: 45px; height: 45px; position:relative; top:6px"/>
                                <span class="hover-text">Vista administrador</span>
                            </button>
                        </li>                                                
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Ing_Soft - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    
    <div id="login-container">
        <button type="button" class="close-button" onclick="closeForm()">✖</button>
        <form class="login-form" asp-action="Login" asp-controller="Home" method="post">
        <h2>Iniciar sesión de administrador</h2>
        <div class="input-block">
            <label for="usuario">Usuario</label>
             <input type="text" id="usuario" name="usuario" placeholder="Ingresá tu clave de usuario" required>
        </div>
        <div class="input-block">
            <label for="password">Contraseña</label>
            <input type="password" id="password" name="password" placeholder="Ingresá tu contraseña" required>
        </div>
        <button type="submit">Iniciar sesión</button>
        </form>
    </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/manual.js"></script>
    @await RenderSectionAsync("Scripts", required: false)


<script>
    function closeForm() {
        console.log("closeForm");
        const loginContainer = document.getElementById("login-container");
        loginContainer.style.display = "none";
    }
</script>


</body>
</html>
