<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Ing_Soft</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Admin.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ing_Soft.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/Img/Logo_ico.ico" type="ico">
</head>

<div id="loader" style="display:none;">
    <div class="spinner"></div>
</div>


<body> 
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Logout">El Mejor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    
                    <div class="nav-izquierda-items">
                        <!-- Dropdown: Compras -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Compras</a>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Proveedor" asp-action="Index">Proveedores</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="OrdenCompra" asp-action="Index">Órdenes de Compra</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a></li>
                                    <!-- <li><a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a></li> -->
                                    <!-- <li><a class="dropdown-item" asp-area="" asp-controller="Factura" asp-action="Index">Facturas</a></li> -->
                                    <!-- <li><a class="dropdown-item" asp-area="" asp-controller="Cobranza" asp-action="Index">Cobranzas</a></li> -->
                                    <!-- <li><a class="dropdown-item" asp-area="" asp-controller="FormaPago" asp-action="Index">Formas de Pago</a></li> -->
                                </ul>
                            </li>
                        </ul>

                        <!-- Dropdown: Ventas -->
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ventas</a>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdown">
                                    <!-- <li><a class="dropdown-item" asp-area="" asp-controller="Proveedor" asp-action="Index">Proveedores</a></li> -->
                                    <!-- <li><a class="dropdown-item" asp-area="" asp-controller="OrdenCompra" asp-action="Index">Órdenes de Compra</a></li> -->
                                    <!-- <li><a class="dropdown-item" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a></li> -->
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Cliente" asp-action="Index">Clientes</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Factura" asp-action="Index">Facturas</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="Cobranza" asp-action="Index">Cobranzas</a></li>
                                    <li><a class="dropdown-item" asp-area="" asp-controller="FormaPago" asp-action="Index">Formas de Pago</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- Sección derecha -->
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Insumos" asp-action="Index">Encargar Insumos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Salir del Modo Administrador</a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <h5>&copy; 2025 - Ing. Software I - Grupo 7 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></h5>
            <h5><a href="https://github.com/LovisottoSantiago/Proyecto-Ing-de-soft-I-Starbucks">Repositorio</a></h5>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


