<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Tienda.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Ing_Soft.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/manual.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300..900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="~/Img/Logo_ico.ico" type="ico">
</head>

<div id="loader" style="display:none;">
    <div class="spinner"></div>
</div>


<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">El Mejor</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="AdminHome" asp-action="Index">Regresar</a> 
                        </li>
                    </ul>
                    <ul class="navbar-nav ms-auto list-unstyled d-flex align-items-center" style="gap: 10px;">
                         <li class="nav-item d-flex align-items-center" style="margin-left: 10px;">
    <a href="#" id="boton-carrito" class="d-flex align-items-center text-decoration-none position-relative" style="color: black;" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Ver carrito">
        <img src="@Url.Content("~/Img/carrito.png")" alt="Carrito" id="img-carrito" style="width: 32px; height: 32px;" />
        <span id="contador-carrito" class="custom-badge">0</span>
    </a>
</li>
                
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <h5>&copy; 2025 - Ing. Software I - Grupo 7 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></h5>
            <h5><a href="https://github.com/LovisottoSantiago/Proyecto-Ing-de-soft-I-Starbucks">Repositorio</a></h5>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/manual.js"></script>
    @await RenderSectionAsync("Scripts", required: false)





</body>
</html>