@model IEnumerable<Ing_Soft.Models.Producto>

@{
    ViewData["Title"] = "Administrador";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<section class="admin-dashboard max-w-5xl mx-auto p-6">
    <div class="admin-container">
        <h2 class="text-3xl font-bold text-green-800 mb-2">Estás en modo Administrador</h2>
        <p class="text-gray-700">Accede a los módulos administrativos desde el <strong class="text-green-700">menú de navegación</strong>.</p>
    </div>

</section>