@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Starbucks UNAJ</h1>
    <img src="https://media.istockphoto.com/id/1310936055/es/foto/logotipo-de-la-marca-starbucks-coffee-shop-sin-personas.jpg?s=612x612&w=0&k=20&c=M13tc45gzXbdvtIR1jye6YwbL-95UctUU8NyHdgBENY=" alt="Logo de Starbucks" style="max-width: 90%; margin: 20px 0;">
    <p>Enlace al <a href="https://github.com/LovisottoSantiago/Proyecto-Ing-de-soft-I-Starbucks">repositorio</a>.</p>
</div>

<div style="margin-top: 30px;">
    <h3>Iniciar sesión como:</h3>
    <form asp-controller="Home" asp-action="Login" method="post" style="display: flex; gap: 10px; justify-content: center; margin-top: 15px;">
        <button type="submit" name="rol" value="Usuario" class="btn btn-success">Usuario</button>
        <button type="submit" name="rol" value="Administrador" class="btn btn-primary">Administrador</button>
    </form>
</div>
