@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto Starbucks UNAJ</h1>
    <p>Enlace al <a href="https://github.com/LovisottoSantiago/Proyecto-Ing-de-soft-I-Starbucks">repositorio</a>.</p>
</div>
