@model Ing_Soft.Models.FormaPago

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="subtitulo-seccion">
    <h4>Forma de Pago</h4>
</div>

<div class="contenido-delete-details-vista-admin">
    <hr />
    <dl class="col">
        <dt class = "col">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div>
    <div class="boton-edit">
        <button class="btn btn-primary">
            <a asp-action="Edit" asp-route-id="@Model?.ID_FormaPago">Edit</a> 
        </button>
    </div>
    <div class="caja-boton-vuelta">
        <button class="boton-vuelta">
            <a asp-action="Index">Back to List</a>
        </button>
    </div>
</div>