.text-center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 50%;
    margin-left: 4rem;
}
.Cuerpo{
    background-color:#f9f9f9;
    display: flex;
    justify-content: start;
    height: 100%;
    margin-top: 7rem;
}
.Logo{
    justify-content: center;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.Logo img{
    max-width: 40rem;
    max-height: 40rem;
}
.imagenes{
    padding-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Foto{
    display: flex;
}
.Foto img{
    max-width: 14rem;
    max-height: 14rem;
    display: flex;
    padding: 10px;
    object-fit: cover;
    border-radius: 2rem;
}

.titulo-arriba{
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: bold;
    font-size: 2em;
}
.titulo-abajo{
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: bold;
    font-size: 6em;
}
<!--
.botonhomeabajo{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.botonhomeabajo a{
    text-decoration: none;
    background-color: none;
    font-size: 3rem;
}
#titulo-realizadores{
    padding: 1rem 0rem 0rem 1rem;
}
.informacion-de-contacto{
    padding: 1rem 0 6rem 0;
    display: flex;
    justify-content: space-around;
}
-->

@media (max-width: 768px) {
    body{
        width: auto;
        background-color: aqua;
    }
    .Logo {
        display: none;
    } 
    .text-center{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 100%;
        margin-left: 0rem;
}

    .titulo-arriba{
    font-family: "Lexend Zetta", sans-serif;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: bold;
    font-size: 2em;
}
.titulo-abajo{
    font-family: "Sansita Swashed", system-ui;
    font-optical-sizing: auto;
    font-weight: auto;
    font-style: bold;
    font-size: 6em;
}
.informacion-de-contacto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
        padding: 1rem 0 0rem 0;
}
.nav-link{
        display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.navbar-collapse {
        margin-top: 0;
    }
}

/*ACA VA A IR EL ESTILADO DE LA INFO DE CONTACTO*/

/* Saca el footer original */
main.pb-3 {
    padding-bottom: 0px !important;
}

.nav-link, .nav-link:visited, .nav-link:active {
    color: rgb(255, 255, 255) !important;
    text-decoration: none !important;
}

.informacion-de-contacto .nav-link:hover {
    color: rgb(0, 0, 0) !important;
}

.paginas span{
    margin: 1rem;
}
.paginas li a{
    color: #000;

}

.integrantes a{
   color: #fff;

}
.caja-realizadores{
    padding: 1rem;
    margin-top: 5rem;
    background-color: #00704A;
    color: #ffffff;
    font-family: "Lexend Zetta", sans-serif;
}
